@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply p-0 m-0 text-slate-700
}

html, body, #root {
    @apply w-full h-full
}

.navbar-item {
    @apply transform translate-y-0.5
}

.navbar-item::after {
    content: '';
    @apply w-0 bg-slate-700 h-0.5 block transition-all
}

.navbar-item:hover::after {
    content: '';
    @apply w-full bg-slate-700 h-0.5 block transition-all
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }